body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    height: 80px; 
    margin-left: 0px;
}

.header-icons {
    margin-right: 10px;
}

.header-icons a {
    display: inline-block;
    margin: 0 10px;
}

.icon {
    height: 24px; /* Adjust size as needed */
     /* Adjust size as needed */
}

.center-title {
    flex-grow: 1;
    text-align: center;
    margin-left: 70px; /* Add margin to move the title to the right */
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

h2 {
    margin: 0;
    font-size: 1.5em;
}

nav {
    /*background-color: #333;*/
    padding: 10px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    text-decoration: underline;
}

.arrow-icon {
    margin-left: 0px;
    height: 15px; /* Adjust size as needed */
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #444;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #555;
}

footer {
    background-color: #222;
    padding: 20px 0;
    margin-top: 20px;
}
